$h1-size: 40px;
$h2-size: 30px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 12px;
$text-size: 12px;
$line-height-delta: 2px;
$p-margin: 10px;

$light-grey: #ededed;
$medium-grey: #9a9a9a;
$dark-grey: #676767;
$color1: #23d5ab;// #e62568;
$color2: #23a6d5;
$color3: #e73c7e;
$color4: #23d5ab;
$color5: #FF5C52;

// $color1: #FF8F30;
// $color2: #E8672C;
// $color3: #FF5D3E;
// $color4: #E8302C;
// $color5: #FF3089;

// $color1: #80414E;
// $color2: #FFCFD8;
// $color3: #FF829B;
// $color4: #80676C;
// $color5: #CC687C;

$app-background-color: #ededed;
$card-background-color: white;
$card_border-color: $light-grey;
$app-main-color: #23a6d5;