$size: 100px;
$border-radus: 10px;

.btn-map {
    position: fixed;
    bottom: 5%;
    right: 5%;
    @include shadow();

    .landing & {
        right: -50%;
    }
}

@mixin base-input-card() {
    border:  $card_border-color 1px solid;
    background-color: $card-background-color;
    @include card();
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

@mixin choice-card() {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    .field-container input {
        background-color: $card-background-color;
    }

    .type-card {
        background-color: $card-background-color;
        border:  $card_border-color 1px solid;
        cursor: pointer;
        width: 140px;
        display: inline-block;
        margin-bottom: 20px;
        border-radius: $border-radus;

        &.selected {
            .legend {
                color: $app-main-color;
            }
        }
    
        .legend {
            text-align: center;
            padding: 10px 10px 10px 10px;
            height: 30%;
            border-bottom-left-radius: $border-radus;
            border-bottom-right-radius: $border-radus;
            color: $medium-grey;
        }
    }
}


.genders-container {
    @include choice-card();
}

.types-container {
    @include choice-card();
    margin-top: 15vh;

    .landing & {
        margin-top: 40vh;
    }

    .type-card {
        &.selected {
            .icon {
                color: $app-main-color;
            }

            .legend {
                color: $app-main-color;
            }
        }
    
        .icon {
            text-align: center;
            padding: 10px 10px 10px 10px;
            height: 70%;
            color: $medium-grey;
            border-top-left-radius: $border-radus;
            border-top-right-radius: $border-radus;
        }
    }
}

@mixin hide {
    display: none;
}

@mixin show {
    display: block;
}

.home-fixed {
    background-color: $app-background-color;;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    top: 0;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.home-card {
    @include base-input-card();

    .field-container input {
        background-color: $card-background-color;
    }

    .search {
        @include show();
    }

    .welcome-text {
        @include hide();
    }

    .landing & {
        height: 20vh;

        .search {
            @include hide();
        }

        .welcome-text {
            @include show();
        }
    }
}


.age-card {
    @include base-input-card();
    margin-bottom: 20px;
}

.spot-card {
    
    .spot-img {
        height: 200px;
        border-radius: 5px;
        background-color: $card-background-color;;
        text-align: center;

        .placeholder-icon {
            margin-top: 75px;
            font-size: 50px;
            color: $medium-grey;
        }
    }

    .spot-legend {
        margin-top: 5px;
        margin-bottom: 20px;

        .address {
            display: block;
            color: $dark-grey;
            margin-bottom: 5px;
        }

        .name {
            display: block;
            font-size: 16px;
        }
    }
}