$skeleton-background-color: grey;
$img-text-height: 12px;

.main-title {
    font-family: 'Great Vibes', cursive;
    margin-top: 40px;
    font-size: 70px;
    margin-bottom: 20px;
}

@mixin skeleton-animation {
        background: linear-gradient(-45deg, $light-grey, lighten($color3, 0.8), $light-grey);
        // background: linear-gradient(-45deg, $color1, $color2, $color3, $color4);
        background-size: 400% 400%;
        animation: gradient 2s ease infinite;
}	

.feed {
    .new-page-button {
        position: fixed;
        right: 15px;
        bottom: 15px;
    }

    .space-buffer {
        // space buffer to avaoid button overlay
        height: 50px;
        width: 100%;
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.feed-item {
    @include divify();
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 20px;

    .icon {
        padding-right: 20px;

        .round-img {
            img {
                
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                width: 60px;
                height: 60px;
                display: block;
                border-style: solid;
                border-width: 3px;  
            }
        }

        .image-text {
            margin-top: 5px;
            margin-bottom: 5px;
            line-height: $img-text-height;
            height: $img-text-height;
            font-weight: bold;
            font-size: $img-text-height;
            width: 100%;
            text-align: center;

            .skeleton & {
                background-color: $skeleton-background-color;
            } 
        }
    }

    .content {
        margin-top: 0px;
        width: calc(100% - 80px);
        padding-left: 5px;
        padding-right: 5px;
    
        .feed-item-text {
            height: 65px;
            padding-top: 5px;
            margin-top: 20px;
            min-height: 50px;
            max-height: 100px;
            @include ellipses();

            .firstcharacter {
                color: $color3;
                float: left;
                font-family: 'Great Vibes', cursive;
                font-size: 35px;
                line-height: 35px;
                padding-top: 10px;
                padding-right: 15px;
                padding-left: 3px;
              }
        }
    }

}


.feed-item.skeleton {
    pointer-events: none;
    .icon {

        .round-img {
            border-color: transparent;
            @include skeleton-animation();

            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            width: 60px;
            height: 60px;
            display: block;
            border-style: solid;
            border-width: 3px;
            
            img {
                display: none;
            }
        }

        .image-text {
            @include skeleton-animation();
        }
    }

    .content {
    
        .feed-item-text {
            @include skeleton-animation();
        }
    }

}