$dropLinesColor: $yellow;
$dropColor: $grey;
$textPadding: 8px;
$inputHeight: 30px;
$marginFromLabel: 0;

.field-container{
    position: relative;

    &.invalid {
      label {
        color: red;
      }

      input[type=text] {
        border-bottom: 2px solid red;
      }
    }

    .color-button{
        border-style: solid;
        border-color: $colorBlack;
        border-width: 1px;
        position: absolute;
        width: 45px;
        cursor: pointer;
        height: 13px;
        top: 22px;
        right: 90px;
    }

    .message {
      color: red;
      margin-bottom: 5px;
      margin-top: 5px;
      display: inline-block;
      height: 15px;
    }

    display: inline-block;
    padding-right: 90px;

    label {
        color: white;
        display: block;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    input, select, textarea{
        color: white;
    }

    input[type=text] {
        margin-top: $marginFromLabel;
        border: 0px;
        background-color: transparent;
        border-bottom: 2px solid $yellow;
        border-radius: 0px;
        font-size: 12px;
        line-height: $inputHeight!important;
        height: $inputHeight;
        font-family: 'CircularStd-Medium';
        width: 100%;
        padding: 0 0 0 $textPadding;
        vertical-align: baseline;
    }

    .chosen-container {
        margin-top: $marginFromLabel;
        background: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: 2px solid $yellow;

        .chosen-search-input {
            color: white!important;
        }

        width: 100%!important;
        a {
            padding: 0 0 0 $textPadding!important;
            height: $inputHeight!important;
            border-radius: 0!important;
            border: none!important;
            color: white!important;
            background-clip: none!important;
            box-shadow: none!important;
            background: none!important;
            line-height: $inputHeight!important;

            div{
                display: none!important;
            }
        }

        .chosen-drop {
            border: none!important;
        }

        .chosen-container-active {
            a {
                background: $dropColor!important;
            }
        }

        &.chosen-container-active{
            a {
                color: white!important;
                background: $dropColor;
            }
        }

        .chosen-search input[type=text] {
            border-color: $yellow;
        }

        .no-results {
            background: none!important;
        }

        .chosen-results {
            color: white!important;
            li.highlighted {
                background: $yellow!important;
                background-clip: none!important;
            }
        }
    }

    .chosen-drop {
        background: transparent!important;
        background-clip: none!important;
        box-shadow: none!important;
        background: $dropColor!important;
        border-radius: 0!important;
    }

    .choice-container {
      color: $colorBlack;
      cursor: pointer;
      display: inline-block;
      border-style: solid;
      border-width: 0.5px;
      padding: 5px 5px 4px 5px;
      text-align: center;
      -moz-user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select:none; 
      user-select:none;
      -o-user-select:none;
    }

    select{
      border-radius: initial;
      border-color: $yellow;
      text-transform: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      line-height: 1.5;
      color: white;
      background-color: transparent;
      background-clip: padding-box;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: 2px solid $yellow;
      transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

      option {
          background: black;
          color: white;
      }
    }
  }

  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 55px!important;
    height: 26px!important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $yellow;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $yellow;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* END TEMPLATE ENI */
  // Custom Checkbox
  
  .container {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input[type=checkbox] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #ccc;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input[type=checkbox] ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input[type=checkbox]:checked ~ .checkmark {
      background-color: #ffc107;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .container input[type=checkbox]:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  