$search-font-size: 16px;

.input-search {
  .search-icon {
    margin-right: 10px;
    font-size: $search-font-size;
    color: $color1;
  }
  input[type=text] {
    outline: none;
    border: none;
    font-size: $search-font-size;
  }
}